

body {
  background-color: #ca4023;
}
h1, h2, h3, h4, p, a{
  font-family: 'Noto Sans', sans-serif;
}
.row h3, p {
  color: #D5D5D5;
}

.fa-home:hover {
  text-decoration: none;
}
.navbar{
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px !important;
}
.carousel-caption {
  color: #D5D5D5;*/
  font-weight: 600;
  font-family: serif;
  font-style: normal;
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5));
}
.carousel-caption p {
  font-size: 170%;
}

nav.nav {
  transition: background-color 2s;
}
a.nav-link:hover {
  color: #61cf94;
  background-color: #61cf94;
  transition: background-color 1s;
}
@media (max-width: 600px) {
  .carousel-caption{
    display:none;
  }
}
