

body {
  background-color: #ca4023;
}
.row h3, p {
  color: #D5D5D5;
}
.fa-home:hover {
  text-decoration: none;
}
.navbar{
    margin-bottom: 10px !important;
    /*position: absolute;*/
}
.carousel-caption {
  color: #D5D5D5;*/
  font-weight: 600;
  font-family: serif;
  font-style: normal;
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5));
}
.carousel-caption p {
  font-size: 170%;
}
.hideMe {
  display: none;
}
.showMe {
  display:inline-block;
}
